<h3> CREDITS </h3>
<a href = "https://juneberry.neocities.org/"> juneberry! </a>
<p> My friend who introduced me to the indie web! I am eternally 
    greatful to them for handwriting their site link in a letter
    to me and setting me on this path :3 Thank you!!! </p>
    
<a href="https://petrapixel.neocities.org/"> petrapixel!!</a>
<p> I followed tutorials from her for getting set up on VSCode, github, 
    and a static site generator! Also some general layout help,
    such as hightlighting active links (that's how my file tabs 
    show which tab is open)!! Also just a general inspiration
    to keep improving my site :)) She's got all you need to make
    and keep a website in good health, methinks :3 </p>

<a href="https://scripted.neocities.org/"> Scripted's Resrouces!</a>
<p> OH my gosh so many fun things. This is where I got my music player
    and my bubbles, and I'm planning to use lots more of their stuffs :))
</p>