<center id=logo>
        <h2> <strong> 
            ~~~~~~~~~~~      <br>
            mari//sol        <br>
            ~~~~~~~~~~~ 
        </strong></h2>

        <!-- theme selectors -->
        <input type="image" class="img-bttn" id="light-mode-button" title = "light mode"
            src = "{{nesting}}assets/icons/light.png" onclick = "lightsUp()">

        <input type="image" class="img-bttn" id="dark-mode-button" title = "dark mode"
            src = "{{nesting}}assets/icons/dark-select.png" onclick = "goDark()">

        <h4> mari (@mariiquite) || they/he/she || sp/en </h4>
    </center>

<div id = "tabs"> 
    <a href="{{nesting}}public/home.html" class="file-tab"> Home </a>
    <a href="{{nesting}}public/works.html" class="file-tab"> Works </a>
    <a href="{{nesting}}public/gallery.html" class="file-tab"> Gallery </a>
    <a href="{{nesting}}public/favorites.html" class="file-tab"> Favorites </a>
    <a href="{{nesting}}public/guestbook.html" class="file-tab"> Guestbook </a>
    <a href="{{nesting}}public/shrines.html" class="file-tab"> Shrines </a>
</div>
