---
layout: file-folder.njk
title: Favorites
nesting: "../"
---

          <h2> Movies & Shows </h2>
        <a href="https://letterboxd.com/mariiquite/">my letterboxd :]</a>
        <h4>TOP 5 MOVIES: </h4>
          <ol> 
          <li> Everything Everywhere All At Once </li> 
          <li> NOPE </li>
          <li> Coraline </li>
          <li> Wall-E </li>
          <li> Nacho Libre </li>
          </ol>
          <p> I LOVE alien movies and documentaries (esp. nature ones, but not the weird over-personified/presumptuous ones) and multidimentional/time travel.... </p>
      <h2> Video Games </h2>
      <a href = "https://steamcommunity.com/id/mariiquite/"> steam >w< </a>
        <h4> Favorite (completed) </h4>
        <ul>
          <li> Dredge </li>
          <li> Slime Rancher </li>
          <li> Bokura (1 & 2)</li>
        </ul>
        <h4> In Progress: </h4>
        <ul>
          <li> Hollow Knight </li>
          <li> Rain World </li>
          <li> Inscription </li>
          <li> We Were Here Together </li>
          <li> Grounded! </li>
        </ul>
        <h4> Other Favorites </h4>
        <ul>
          <li> Minecraft :3 </li>
          <li> Don't Starve (Together) </li>
          <li> Icarus </li>
          <li> Milk inside a bag of milk inside a bag of milk </li>
          <li> Milk outside a bag of milk outside a bag of milk </li>
          <li> Orchids to Dusk </li>
          <li> Gris </li>
          <li> Animal Jam >:3 </li>
        </ul>
      <h2> MUSIC </h2>
      <a href="https://bandcamp.com/mariiquite">bandcamp</a>
      <ul>
        <li> Favorite Rapper: RAP Ferreira </li>
        <li> Favorite Album I Own: some junk tapes from outer space -corn wave</li>
        <li> Latest Add: La Cumbia Del Perro -Inflorescencia </li>
        
        <p> I do seasonal newsletters with playlists, I will eventually link those here too >w0 </p>
      </ul>
    </div> 