---
layout: file-folder.njk
title: Home
nesting: "../"
---
      <div id="gallery">
            <p> I love to taking pictures! I post lots of flora and fauna (and fungi) pictures to 
                <a href="https://www.inaturalist.org/people/mariiquite">iNaturalist</a>, but I also keep an archive of all my faves in this gallery!
            </p>
          
          <div class = gallery>
            <img src="{{ nesting }}assets/img/aloha.jpg">
            <img src="{{ nesting }}assets/img/braidedPine.jpg">
            <img src="{{ nesting }}assets/img/chalkbag.jpg">
            <img src="{{ nesting }}assets/img/crabby.jpg">
            <img src="{{ nesting }}assets/img/giantmiffy.jpg">
            <img src="{{ nesting }}assets/img/handpaw.jpg">
            <img src="{{ nesting }}assets/img/pawbles.jpg">
          </div>
</div>