---
layout: file-folder.njk
title: Home
nesting: "../"
---

<p> Hello, and welcome to my website!! 
  Take a moment to look around, 
  and don't forget to sign the guest book!! 
</p>

<h4>About this site:</h4>
<ul>
  <li> I started this on July 19th, 2025! </li>
  <li> It plays music!! Find the music player for some jams!! </li>
  <li> This is my handwriting!! Thank u fontstruct ^w^</li>
  <li> My setup currently involves editing and previewing my site on VSCode, 
    keeping track of changes on github, and uploading the files
    periodically to neocites. I learned how to do much of this 
    from PetraPixels (see Credits below)!</li>
</ul>