---
layout: file-folder.njk
title: Home
nesting: "../"
---
    I really wanna get into making web shrines. 
    This is a list of ones I want to make. 
    I will link to them as I create them!!!

    <ul>
        <li> <a href="{{ nesting}}shrines/wolp.html"> Wolves! </a> </li>
        <li> <a href="{{ nesting}}shrines/therian.html"> Therianthropy </a> </li>
        <li> My Sonas/OCs </li>
        <li> Various Nature Stuff </li>
        <li> Various Music Stuff! </li>
        <li> Anthocyanins...</li>
    </ul>

    <br> <br>

    <p> I will also link other people's shrines here 
    as I find them and they inspire me and fill 
    my heart with joy and admiration :)) </p>

    <ul>
        <li> <a href = "https://petrapixel.neocities.org/shrines/kugelmiez"> PetraPixel's Kugelmiez</a></li>
        <li> <a href = "https://avatarwan.neocities.org/"> Brady's Avatar Wan Shrine <3 </a></li>
    </ul>

