---
layout: file-folder.njk
title: Home
nesting: "../"
---

<div id = "art">
  <h3> ART: </h3>
    <p> <a href="https://artfight.net/~mariiquite">Artfight</a>, </p>
    <p> <a href="https://toyhou.se/mariiquite">Toyhou.se</a> (still setting this up...) </p>
</div>

<div id = "music">
  <h3> MUSIC: </h3>
    <p> <a href="https://soundcloud.com/mariiquite">Soundcloud</a>, <a href="[        ]">Band Camp</a> </p>
</div>

<div id = "words">
<h3> WORDS: </h3>
  
    <p> <a href = "[.   ]">Substack!</a> </p>
    <p> <a href="[   ]"> Bluesky </a> </p>
    
    <h5> I have a <a href="https://mariiquite.bearblog.dev/">bear blog</a> >w< </h5>
  </div>
  
  
<h3> Some things I've drawn!! (I need to update this bad lol)</h3>
<div class = "gallery">
  <img src="{{ nesting}}assets/img/SummerSol.png">
  <img src="{{ nesting}}assets/img/Sylvie.png">
  <img src="{{ nesting}}assets/img/yahuitl_ref_quick.png">
  <img src="{{ nesting}}assets/img/amor.png">
  <img src="{{ nesting}}assets/img/betterclippedsnek.png">
  <img src="{{ nesting}}assets/img/gender.png">
  <img src="{{ nesting}}assets/img/mous.png">
  <img src="{{ nesting}}assets/img/snek.png">
</div>
